<div class="form-group">
  <%= f.label :code, "商品コード", class: "col-xs-2 control-label" %>
  <div class="col-xs-2">
    <%= f.text_field :code, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :name, "品　名", class: "col-xs-2 control-label" %>
  <div class="col-xs-4">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :num, "品　番", class: "col-xs-2 control-label" %>
  <div class="col-xs-4">
    <%= f.text_field :num, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :material, "材　料", class: "col-xs-2 control-label" %>
  <div class="col-xs-4">
    <%= f.text_field :material, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :heat, "熱処理", class: "col-xs-2 control-label" %>
  <div class="col-xs-4">
    <%= f.text_field :heat, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :surface, "表面処理", class: "col-xs-2 control-label" %>
  <div class="col-xs-4">
    <%= f.text_field :surface, class: "form-control" %>
  </div>
</div>

 



